/*CLASES GENERALES*/
body {
  margin:0;
  padding:0;
}
header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.imagen-ancho {
  width: 100%;
}
/*CLASES NAVEGADOR*/
.navegador {
  background-color: white;
}
.centro {
  display:flex;
  justify-content: center;
  align-items: center;
}
.margen {
  margin-top: 10px;
  margin-bottom: 10px;
}
li > a {
  color:black;
}

a:hover {
  font-weight: bold;
  background-color: white;
}
/*CLASES SECCIONES*/
.contenedor-fondo {
  position:relative;
}
.contenedor-amarillo {
  padding: 3%;
  background-color: #f7b617;
  position:absolute;
  top: 30%;
  right:0%;
}
/*CLASES DE SECCION EN GENERAL*/
.encabezado {
  color:white;
}
.borde-decorativo {
  border-top:1px solid white;
  border-right:1px solid white;
  border-bottom:1px solid white;
}
.fila-amarilla {
  padding-top:3%;
  padding-bottom:3%;
  background-color:#f7b617;
}
.fila-margen {
  padding-top:3%;
  padding-bottom:3%;
}
.texto-corrido {
  color:white;
  list-style: none;
}
.boton {
  border: 1px solid white;
  border-radius: 1%;
}
.contenedor-mapa {
  padding: 2%;
  border: 1px solid white;
}
/*CLASES SECCION CONDUCTOR*/
.contenedor-opaco {
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.5);
  position:absolute;
  top: 0%;
  right:0%;
}
footer {
  background-color: #24292e;
}

.posicion-pie {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
