header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.centro {
  display:flex;
  justify-content: center;
  align-items: center;
}
li > a {
  color:black;
}

a:hover {
  font-weight: bold;
  background-color: white;
}
